<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<style></style>
<div style="background-image: url('https://ca-times.brightspotcdn.com/dims4/default/444499c/2147483647/strip/true/crop/3000x2000+0+0/resize/840x560!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F7d%2F24%2F0d9fed4c40c285ffca41843ae569%2Fdecadefood.jpg');">
</style>st
<div>
  <div class='center'>
    <h1 style="font-family: Cursive;">
    <div style= "border:20px solid black" class='title'>Classify 8 Foods </div></h1>
    <h2 style="font-family: Cursive;">
      One of the 8 foods <strong>Apple</strong>, <strong>Pasta</strong>, <strong>Banana</strong>,<strong>Breads & Pastry</strong>,<strong>French Fries</strong>,<strong>Ice Cream </strong>,<strong>Pomogranate</strong>,<strong>Rice</strong> will be predicted with 99 % accuracy 
    </h2>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>

      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
